/* :root {
    --main-font: "Montserrat", Arial, Helvetica, sans-serif;
    --second-font: "Roboto Slab", sans-serif;
    --third-font: "Vollkorn", sans-serif;
    --main-font-color: #222222;
    --second-font-color: #777777;
    --fourth-font-color: #bbbbbb;
    --main-color: #fed136;
} */

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #1a1915;
  background-size: cover;
  background-image: url(../images/vectorsmartobjectmobile.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 540px;
}

.registration-list {
  padding-top: 20px;
  display: flex;
}

.registration-item {
  text-align: center;
}

.registration-button-ligin {

  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: none;
  background: none;
  line-height: 1.2;
  margin-right: 20px;
}

.registration-button-ligin:hover {
  color: rgb(255, 0, 0);
}

.registration-button-signup {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 32px;
  border: 2px solid rgb(255, 255, 255);
  background: none;
  border-radius: 32px;
  padding: 0 17px 0;
}

.registration-button-signup:hover {
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

.logotype {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  display: block;
  text-align: center;
}

.logotype-link {
  color: rgb(255, 255, 255);
}

.registration-list__wrapper {
  margin-bottom: 40px;
}

.main-title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -1px;
}

.main-title__wrapper {
  margin-bottom: 19px;

}

.main-title__first-part {
  display: block;
}

.main-title__description {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;

}

.main-title__description__wrapper {
  margin-bottom: 18px;
}


.find-you-partner-btn {
  display: block;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  border: 2px solid rgb(255, 78, 80);
  background-color: rgb(255, 78, 80);
  font-weight: 700;
  line-height: 40px;
  padding: 0 50px 0;
  letter-spacing: -1px;
  margin: 0 auto;

}

.find-you-partner-btn:hover {

  display: block;
  font-size: 14px;
  color: rgb(255, 78, 80);
  border-radius: 40px;
  border: 2px solid rgb(255, 78, 80);
  background: none;
  font-weight: 700;
  line-height: 40px;
  padding: 0 50px 0;
  letter-spacing: -1px;
  margin: 0 auto;
}

.partner-title {
  font-size: 22px;
  color: rgb(51, 51, 51);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding-top: 70px;
}

.partner-title__wrapper {
  margin-bottom: 18px;
}

.partner-image__wrapper {
  width: 122px;
  height: 122px;
  margin: 0 auto 22px;
  position: relative;
}

.partner-image__wrapper::after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;

}

.partner-image__wrapper__first::after {
  background-image: url(../images/icons/tv.png);
  background-color: #ff4e50;
}

.partner-image__wrapper__second::after {
  background-image: url(../images/icons/cup.png);
  background-color: #1cd7ad;
}

.partner-image__wrapper__third::after {
  background-image: url(../images/icons/bottle.png);
  background-color: #ffa507;
}

.partner-image__wrapper__fourth::after {
  background-image: url(../images/icons/plain.png);
  background-color: #4e73db;
}

.partner-image {
  border-radius: 50%;

}

.partner-name {
  font-size: 14px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 18px;
}

.partner-description {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
}

.button-second {
  border: 2px solid rgb(255, 78, 80);
  background: none;
  color: rgb(255, 78, 80);
}

.button-second:hover {
  display: block;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  border: 2px solid rgb(255, 78, 80);
  background-color: rgb(255, 78, 80);
  font-weight: 700;
  line-height: 40px;
  padding: 0 50px 0;
  letter-spacing: -1px;
  margin: 0 auto;
}

.partner-list__item {
  width: 200px;
  margin: 0 auto;
}

.partner-list {
  margin-bottom: 30px;
}

.partner-section {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .logotype {
    padding-top: 118px;
  }

  .partner-list__item:not(:last-child) {
    margin-bottom: 22px;
  }
}

@media (min-width: 768px) {

  .header {
    background-image: url(../images/vectorsmartobjecttablet.png);
    min-height: 700px;
  }

  .navigation {
    margin-bottom: 158px;
  }

  .registration-list {
    padding-top: 50px;
  }

  .registration-item {
    text-align: end;
  }

  .logotype {
    padding-top: 50px;
  }

  .registration-list__wrapper {
    margin-bottom: 160px;
  }

  .partner-title__wrapper {
    margin-bottom: 36px;
  }

  .main-title__description__wrapper {
    margin-bottom: 38px;
  }

  .main-title__wrapper {
    margin-bottom: 38px;
  }

  .partner-list {
    margin-bottom: 40px;
  }

  .partner-section {
    margin-bottom: 40px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .partner-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 60px;
  }
}

@media (min-width: 1024px) {
  .header {
    background-image: url(../images/vectorsmartobject.png);
    min-height: 700px;
  }

  .partner-section {
    margin-bottom: 73px;
  }

}